/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* home page css start here */
.great-idea{
	width: 876px;
    margin: 0 auto;
   
}
.navigate{
	padding:10px 0;
	width:100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	
  	
}
.navigate nav{
	width:60%;
	display: flex;
	justify-content:space-evenly;
}
.navigate nav a{
	
	color: gray;
	text-decoration: none;
	text-align: center;
	
	
}

.navigate nav a:hover{
	background:skyblue;
	color:black;
}

.title{
    padding:30px 0;
	border-bottom:2px solid black;
	display: flex;
	align-items: center;
}
h1{
	font-size: 70px;
}
 .box2{
	width:50%;
	
	display:flex;
	flex-direction: column;
	align-items: center;
} 
.letter{
	width:70%;
	
	margin:50px 0 0 0;
	 display:flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
}
.button{
	
	border:1px solid black;
	padding:5px 30px;
	margin:10px auto;
	text-align: center;
}
.button a{
	font-size: 15px;
	text-decoration: none;
}
.circle{
	width:50%;
	
	display: flex;
	align-items: center; 
}

h4{
	font-size: 20px;
}
.p1-box{
	padding:20px 0;
	display: flex;
	align-items: center; 
}
.p1{
    width:50%;
    padding:0 10px;
	display: flex;
	flex-direction: column;
	
	
}
.middle-img{
    width:100%;
    height:auto;
}

.p2-box{
	
	padding:20px 0;
	border-bottom:2px solid black;
	display: flex;
	align-items: center; 
	
}

.p2{
	width:33%;
	padding:0 10px;
	
	display: flex;
	flex-direction: column;
}
.contact-info {
	
	padding: 20px ;
  }
  footer p{
	font-size:14px;
	text-align: center;
  }



@media(max-width:800px){
    .great-idea{
        width: 100%;
    }
    .navigate{
        display:flex;
        flex-direction: column-reverse;
    }
    .navigate nav{
        width:100%;
        padding: 30px 0 0 0;
    }
    .circle{
        display:none;
    }
    .box2{
        width:100%;
    }
    
}

@media(max-width:500px){
    .navigate{
        display:flex;
        flex-direction: column-reverse;
    }
    .navigate nav{
        width:100%;
        padding: 10px 0 0 0;
        display:flex;
        flex-direction: column;
    }
    .navigate nav a{
        padding: 10px 0;
        color: gray;
        text-decoration: none;
        text-align: center;
        border-top:1px solid lightgray;
        border-bottom:1px solid lightgray;
    }
    .p1-box{
        display:flex;
        flex-direction: column;
    }
    .p1{
        width:100%;
        padding:10px;
        display: flex;
        flex-direction: column;
     }
     .p2-box{
	
        padding:20px 0;
        border-bottom:2px solid black;
        display: flex;
        align-items: center; 
        flex-direction: column;
        
    }
    
    .p2{
        width:100%;
        padding:10px;
        display: flex;
        flex-direction: column;
    }
}